<div class="container-scroller">
  <app-navbar />
  <div class="container-fluid page-body-wrapper" style="margin-top: 6%;">
    <app-sidebar />
<div>


  <p-tabView>
    <p-tabPanel header="Formation Initiale">
      <div *ngIf="loadingFormationInitiale; else formationInitialeContent">
        Loading Formation Initiale...
      </div>
      <ng-template #formationInitialeContent>
        <div *ngIf="filieresFormationInitiale.length > 0; else noFormationInitialeContent">
<!--
          <h2>Liste des filières Formation Initiale :</h2>
-->
         <!-- <ul>
            <li *ngFor="let filiere of filieresFormationInitiale">{{ filiere.intitule }}</li>
          </ul>-->
          <div *ngFor="let filiere of filieresFormationInitiale">
            <h3 class="filiere-intitule">{{ filiere.intitule }}</h3>
            <p><strong>Diplôme : </strong>{{ filiere.typeDiplomeAObtenir }}</p>
            <p><strong>Département : </strong>{{ filiere.departementDto.intitule }}</p>
            <button class="button" (click)="inscrire(filiere)">S'inscrire</button>
          </div>
        </div>
        <ng-template #noFormationInitialeContent>
          <p>Aucune filière Formation Initiale disponible.</p>
        </ng-template>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Formation Continue">
      <div *ngIf="loadingFormationContinue; else formationContinueContent">
        Loading Formation Continue...
      </div>
      <ng-template #formationContinueContent>
        <div *ngIf="filieresFormationContinue.length > 0; else noFormationContinueContent">
<!--
          <h2>Liste des filières Formation Continue :</h2>
-->
          <!--<ul>
            <li *ngFor="let filiere of filieresFormationContinue">{{ filiere.intitule }}</li>
          </ul>-->
          <div *ngFor="let filiere of filieresFormationContinue">
            <h3 class="filiere-intitule">{{ filiere.intitule }}</h3>
            <p><strong>Diplôme : </strong>{{ filiere.typeDiplomeAObtenir }}</p>
            <p><strong>Département : </strong>{{ filiere.departementDto.intitule }}</p>
            <button class="button" (click)="inscrire(filiere)">S'inscrire</button>
          </div>
        </div>
        <ng-template #noFormationContinueContent>
          <p>Aucune filière Formation Continue disponible.</p>
        </ng-template>
      </ng-template>
    </p-tabPanel>
  </p-tabView>


</div>
</div>
</div>
