<div class="container-scroller">
    <app-navbar />
    <div class="container-fluid page-body-wrapper" style="margin-top: 5%;">
        <app-sidebar />
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white me-2">
                            <i class="mdi mdi-folder "></i>
                        </span> Mon Dossier
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active d-none" aria-current="page">
                                <span></span>Aperçu <i
                                    class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Remplir les informations</h4>
                                    <form class="form-sample" [formGroup]="candidatFormGroup">
                                        <p class="card-description"> Informations personnelles</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label  htmlFor="nom" class="col-sm-3 col-form-label">Nom</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" required="" class="form-control" pInputText id="nom" aria-describedby="username-help" placeholder="Nom"  formControlName="username" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label  htmlFor="Prenom" class="col-sm-3 col-form-label">Prenom</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" required="" class="form-control" pInputText id="Prenom" aria-describedby="username-help" placeholder="Prenom"  formControlName="username" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <p class="card-description"> a propos le(s) diplome(s)</p>
                                        <div class="row">
                                           
                                        </div>
                                     
                                       
                                    </form>
                                    <button class="btn btn-gradient-info me-2">Enregistrer</button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer />
        </div>
    </div>
</div>