<div class="container" xmlns="http://www.w3.org/1999/html">
    <div >
      <div class="card">
        <div class="card-header">Mon Dossier</div>
        <div class="card-body">
          <form [formGroup]="candidatFormGroup" >
            <div class="card flex justify-content-center border-0 ">


              <div class="flex flex-column gap-2 mb-3 col-8">
                <label htmlFor="nom" class="me-lg-4 mb-1">Nom</label><br>
                <input pInputText id="nom" aria-describedby="username-help" placeholder="Nom"  formControlName="username" />
              </div>
              <div class="flex flex-column gap-2 mb-3 col-8">
              <label htmlFor="Prenom" class="me-lg-4 mb-1">Prenom</label><br>
              <input pInputText id="Prenom" aria-describedby="username-help" placeholder="Prenom"  formControlName="prenom"  />
            </div>

              <div class="flex flex-column gap-2 mb-3 col-8">
                <label htmlFor="CIN" class="me-lg-4 mb-1">CIN</label><br>
                <input pInputText id="CIN" aria-describedby="username-help" placeholder="CIN" formControlName="cni"  />
              </div>
              <div class="flex flex-column gap-2 mb-3 col-8">
              <label htmlFor="CNE" class="me-lg-4 mb-1">CNE</label><br>
              <input pInputText id="CNE" aria-describedby="username-help" placeholder="CNE"  formControlName="cne"  />
            </div>
              <div class="flex flex-column gap-2 mb-3 col-8">
                <label htmlFor="Email" class="me-lg-4 mb-1">Email</label><br>
                <input pInputText id="Email" aria-describedby="username-help" placeholder="Email"  formControlName="email" />
              </div>
              <div class="flex flex-column gap-2 mb-3 col-8">
                <label htmlFor="Adresse" class="me-lg-4 mb-1">Adresse</label><br>
                <input pInputText id="Adresse" aria-describedby="username-help" placeholder="Adresse"  formControlName="adresse"  />
              </div>
              <div class="flex flex-column gap-2 mb-3 col-8">
                <label htmlFor="Téléphone" class="me-lg-4 mb-1">Téléphone</label><br>
                <input pInputText id="Téléphone" aria-describedby="username-help" placeholder="Téléphone" formControlName="telephone"  />
              </div>


              <h4 class="align-items-center mt-3 mb-3 ms-5">a propos le(s) diplome(s)</h4>
                  <div formArrayName="diplome">
                    <div *ngFor="let dipChild of dipArr().controls; let i = index;" formControlName="{{i}}" class="border border-secondary border-1 p-5">
                      <div [formGroupName]="i">
                        <div class="form-group">
                          <label class="mb-3">Type de diplome</label>
                          <input type="text" class="form-control mb-3"  formControlName="titre">
                        </div>
                        <div class="form-group ">
                          <label  class="mb-3">Specialte</label>
                          <input type="text" class="form-control mb-3" formControlName="specialite">
                        </div>
                        <div class="form-group ">
                          <label  class="mb-3">Anne d'obtention</label>
                          <input type="date" class="form-control mb-3"  formControlName="dateObtention">
                        </div>
                        <div class="form-group ">
                          <label  class="mb-3">Etablissement</label>
                          <input type="text" class="form-control mb-3" formControlName="etablissement">
                        </div>
                        <button type="button" *ngIf="dipArr().length > 1" (click)="removeDiploma(i)"  class="btn btn-danger col-md-2 mt-3 me-2">-</button>

                      </div>


                    </div>
                    <button type="button" (click)="addDiploma()" class="btn btn-success col-md-2 me-2 mt-3">+</button>

                    <!--                    <span (click)="addDiploma()" class="btn btn-success col-md-3 me-2 mt-3">+</span>-->

                  </div>






            </div>

           <br> <button type="submit" class="btn btn-primary btn">Enregistrer</button>


          </form>
        </div>

      </div>
    </div>


</div>

