<div class="container" xmlns="http://www.w3.org/1999/html">
  <nav class="m-2 p-2 border ">
    <button class="bnt btn btn-outline">Etape 1</button>
    <button  class="bnt btn btn-outline"  routerLink="/candidat/MondDossier/etape2">Etape 2</button>
  </nav>

    <div>
      <div class="card">
        <div class="card-header">Mon Dossier</div>
        <div class="card-body">
          <form (ngSubmit)="handleEtape2()" >


            <div class="card flex justify-content-center border-0">
              <div class="flex flex-column gap-2">
                <label htmlFor="nom" class="me-lg-4">Nom</label>
                <input pInputText id="nom" aria-describedby="username-help" class="me-lg-4" [(ngModel)]="username" />
              </div><div class="flex flex-column gap-2">
                <label htmlFor="Prenom" class="me-lg-4">Prenom</label>
                <input pInputText id="Prenom" aria-describedby="username-help" class="me-lg-4" [(ngModel)]="Prenom" />
              </div><div class="flex flex-column gap-2">
                <label htmlFor="CIN" class="me-lg-4">CIN</label>
                <input pInputText id="CIN" aria-describedby="username-help" class="me-lg-4" [(ngModel)]="CNI" />
              </div><div class="flex flex-column gap-2">
                <label htmlFor="CNE" class="me-lg-4">CNE</label>
                <input pInputText id="CNE" aria-describedby="username-help" class="me-lg-4" [(ngModel)]="CNE" />
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>


</div>

