<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="../../../assets/images/user.png" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">{{currentUser.name}}</span>
                    <span class="text-secondary text-small" *ngIf="currentUser.role == 'admin'">administrateur</span>
                    <span class="text-secondary text-small" *ngIf="currentUser.role == 'staff'">Staff</span>
                    <span class="text-secondary text-small" *ngIf="currentUser.role == 'assistant'">Assistant</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser.role != 'assistant'" :href="'/' + currentUser.role + '/dashboard'">
                <span class="menu-title">Tableau de bord</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser.role != 'staff'" :href="'/' + currentUser.role + '/Addinvoice'">
                <span class="menu-title">Comptabilité</span>
                <i class="mdi mdi-file-document  menu-icon"></i>
            </a>
        </li>
        
        <li class="nav-item" *ngIf="currentUser.role != 'assistant'">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-c" aria-expanded="false"
                aria-controls="ui-basic-c">
                <span class="menu-title">Client</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-account-check menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic-c">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/addclient'">Ajouter
                            Client</a></li>
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/manageclient'">Gérer
                            Clients</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" #noText>
            <a class="nav-link" :href="'/' + currentUser.role + '/manageclient'">
                <span class="menu-title">Client</span>
                <i class="mdi mdi-account-check  menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf="currentUser.role == 'admin'" class="nav-link" data-bs-toggle="collapse" href="#ui-basic"
                aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Personnel</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-account menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/addpersonnel'">Ajouter
                            Personnel</a></li>
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/managepersonnel'">Gérer
                            Personnels</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a *ngIf="currentUser.role == 'admin'" class="nav-link" data-bs-toggle="collapse" href="#ui-basic1"
                aria-expanded="false" aria-controls="ui-basic1">
                <span class="menu-title">Véhicule</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-car menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/addcar'">Ajouter
                            Véhicule</a></li>
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/managecar'">Gérer
                            Véhicules</a> </li>
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/managecategory'">Gérer
                            Model Véhicules</a> </li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser.role != 'assistant'" data-bs-toggle="collapse" href="#ui-basic2"
                aria-expanded="false" aria-controls="ui-basic2">
                <span class="menu-title">Réservation</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-car-connected  menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link"
                            :href="'/' + currentUser.role + '/ShowCarTobooking'">Réserver Véhicules</a></li>
                    <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/Managebooking'">Gérer
                            Réservations</a> </li>
                </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false"
            aria-controls="ui-basic3">
            <span class="menu-title">Dépense</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-file-multiple  menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic3">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/Addspend'">Ajouter
                        Dépense</a></li>
                <li class="nav-item"> <a class="nav-link" :href="'/' + currentUser.role + '/Managespend'">Gérer
                        Dépense</a> </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>