.my-tabview {
  background-color: #03518c;
}
filiere .views-label {
  font-size: 1em;
}
.filiere_etiquette {
  font-weight: bold;
}
.ui-widget-content {
  color: #222;
}
div.views-field.views-field-field-type-formation{
  margin-top: 29px;
  margin-bottom: 29px;
}
button.p-ripple.p-element.p-button-rounded.p-button-secondary.p-button.p-component{
  margin-top: 29px;
  margin-bottom: 29px;
}
